%hover-element{
    color: $color-blue;
}
%before-image{
    content: "";
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:$color-section-command;
    display: inline-block;
}