.features {
    padding: 60px 0 30px 0;

    @include desc(1200px) {
        padding: 94px 0;
    }

    &-list {
        @include tab(768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            &-description{
                width: 354px;
            }
            .features-list-title{
                text-align: left;
            }
            .features-list-image-first::before{
                max-width: 354px;
            }
            .features-list-image-second::before{
                max-width: 354px;
            }
            .features-list-image-third::before{
                max-width: 354px;
            }
            .features-list-image-fourth::before{
                max-width: 354px;
            }
        }
        @include desc(1200px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            &-description{
                width: 270px;
            }
            .features-list-title{
                text-align: left;
            }
            .features-list-image-first::before{
                max-width: 270px;
            }
            .features-list-image-second::before{
                max-width: 270px;
            }
            .features-list-image-third::before{
                max-width: 270px;
            }
            .features-list-image-fourth::before{
                max-width: 270px;
            }
        }
        &-title {
            @include fontstyles(Roboto, 14px, 700, 1.1, 0.03em, center, $color-black);
            padding-top: 30px;
            padding-bottom: 10px;
            @include desc(1200px){
                @include fontstyles(Roboto, 14px, 700, 1.1, 0.03em, left, $color-black);
            }
        }

        &-description {
            @include fontstyles(Roboto, 14px, 400, 1.1, 0.03em, left, $color-p);
            max-width: 450px;
            margin-bottom: 30px;
            @include desc(1200px){
                width: 270px;
            }
        }
    }
}


.features-list-image-first::before {
    background-image: url("../img/firstbg.jpg");
    @extend %before-image;
}

.features-list-image-second::before {
    background-image: url("../img/secondbg.jpg");
    @extend %before-image;
}

.features-list-image-third::before {
    background-image: url("../img/thirdbg.jpg");
    @extend %before-image;
}

.features-list-image-fourth::before {
    background-image: url("../img/fourthbg.jpg");
    @extend %before-image;
}